[Unit]
Description=Wikidot-like web server for collaborative writing sites.
Wants=network-online.target
Requires=deepwell.service ftml.service
After=network.target network-online.target

[Service]
Type=simple
User=thaumiel
WorkingDirectory=/home/thaumiel
ExecStart=/usr/bin/thaumiel config.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
